<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Deconvolution</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" type="text/css" media="all" href="vendor/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" media="all" href="css/freelancer.min.css" />
        <link rel="stylesheet" type="text/css" media="all" href="vendor/font-awesome/css/font-awesome.min.css" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"/>
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="js/freelancer.min.js"></script>
    </head>
    <body id="page-top" class="index">
        <!-- Navigation -->
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand">Deconvolution</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="page-scroll">
                            <a href="/form">Quick start</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Header -->
        <header>
            <div class="container" id="maincontent" tabindex="-1">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="intro-text">
                            <h1 class="name">Deconvolution</h1>
                            <p class="underline"></p>
                            <div class="umcg-image"></div>
                            <span class="skills" th:text="#{greeting.maincontent}">Dit is een web applicatie dat het mogelijk maakt om het command-line programma deconvolution uit te voeren zonder de command-line the gebruiken en de resultaten te visualiseren.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- About section -->
        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>About</h2>
                        <p class="star-primary"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-2">
                        <span class="skills" th:text="#{greeting.about1}">Deconvolution is een command-line programma gemaakt door Niek de Klein en Raul Agguire-Gamboa van de afdeling Genetica van het UMCG. Het is een programma dat de bloedsamenstelling en cel verhoudingen kan voorspellen door genotype en RNAseq data.</span>
                    </div>
                    <div class="col-lg-4">
                        <span class="skills" th:text="#{greeting.about2}">Klik op Quick Start om een nieuwe run te starten!.</span>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="text-center">
            <div class="footer-above">
                <div class="container">
                    <div class="row">
                        <div class="footer-col col-lg-4 col-lg-offset-2">
                            <h3>Location</h3>
                            <p>UMCG
                                Hanzeplein 1, 9713 GZ Groningen
                            </p>
                        </div>

                        <div class="footer-col col-lg-4">
                            <h3>Deconvolution</h3>
                            <span class="skills" th:text="#{greeting.created}">This web application is created by Maaike Brummer and Iris Gorter.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-below">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            Copyright &copy; Your Website 2017
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
