<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script type="text/javascript" src="js/deconvolution.comms.js"></script>

    <link rel="stylesheet" type="text/css" media="all" href="vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="css/freelancer.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="vendor/font-awesome/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"/>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/freelancer.min.js"></script>
    <script src="js/advancedOptions.js"></script>

</head>
<body id="page-top" class="index">

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/greeting">Deconvolution</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="page-scroll">
                    <a href="/greeting">Go Back</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header>
    <div class="container-small" id="maincontent" tabindex="-1">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text-small">
                    <h1 class="name">Deconvolution</h1>
                    <p class="underline"></p>
                    <div class="umcg-image"></div>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Form</h2>
                <p class="star-primary"></p>
            </div>
        </div>
        <form action="#" name="form" th:action="@{/form}" th:object="${form}" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <div class="form-group">
                        <label th:text="#{result.cellcountfile}">Cellcount file:</label>
                        <input type="file" accept="text/plain" name="cellCountFile" id="cellfile" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label th:text="#{result.expressionlevelfile}"></label>
                        <input type="file" accept="text/plain" id="expressionfile" name="expressionLevelFile" class="form-control"/>
                    </div>

                    <div class="form-group">
                        <label th:text="#{result.genotypedosage}"></label>
                        <input type="file" accept="text/plain" id="genotypefile"  name="genotypeDosageFile" class="form-control"/>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <p><label th:text="#{result.celltype}"></label></p>
                        <table style="width:100%">
                            <tr>
                                <td><input type="checkbox" name="celltype" class="cell" value="Neutrophile" th:field="*{celltype}" id="cell1" /><label for="cell1">Neutrophile </label></td>
                                <td><input type="checkbox" name="celltype" class="cell" value="Lymphocyte" th:field="*{celltype}" id="cell2" /><label for="cell2">Lymphocyte </label></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="celltype" class="cell" value="Monocyte" th:field="*{celltype}" id="cell3" /><label for="cell3">Monocyte </label></td>
                                <td><input type="checkbox" name="celltype" class="cell" value="Eosinophile" th:field="*{celltype}" id="cell4" /><label for="cell4">Eosinophile </label></td>
                            </tr>
                        </table>
                    </div>

                    <div class="form-group">
                        <p><label th:text="#{result.param}"></label></p>
                        <table style="width:100%">
                            <tr>
                                <td><input type="checkbox" name="Parameter -cc" class="param" value="Parameter -cc" th:field="*{param}" id="param-cc"/><label for="param-cc">Parameter -cc</label></td>
                                <td><input type="checkbox" name="Parameter -oc" class="param" value="Parameter -oc" th:field="*{param}" id="param-oc" /><label for="param-oc">Parameter -oc</label></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" name="Parameter -rc" class="param" value="Parameter -rc" th:field="*{param}" id="param-rc"/><label for="param-rc">Parameter -rc</label></td>
                                <td><input type="checkbox" name="Parameter -fcd" class="param" value="Parameter -fcd" th:field="*{param}" id="param-fcd"/><label for="param-fcd">Parameter -fcd</label></td>
                            </tr>
                        </table>
                    </div>

                    <a href="#form" onclick="more(this);">+</a>
                    <div id="showMore" style="display: none;">
                        <div class="form-group">
                            <p><label>Advanced options/parameters (not implemented yet!)</label></p>
                            <table style="width:100%">
                                <tr>
                                    <td><input type="checkbox" name="Parameter -ttt1" class="param" value="Parameter -ttt" th:field="*{param}" id="param-ttt1"/><label for="param-ttt1">ttt1</label></td>
                                    <td><input type="checkbox" name="Parameter -ttt2" class="param" value="Parameter -ttt" th:field="*{param}" id="param-ttt2" /><label for="param-ttt2">ttt2</label></td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" name="Parameter -ttt3" class="param" value="Parameter -ttt" th:field="*{param}" id="param-ttt3"/><label for="param-ttt3">ttt3</label></td>
                                    <td><input type="checkbox" name="Parameter -ttt4" class="param" value="Parameter -ttt" th:field="*{param}" id="param-ttt4"/><label for="param-ttt4">ttt4</label></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6"></div>
                <div class="col-lg-6">
                    <input type="reset" value="Reset" class="btn btn-danger"/>
                    <input type="submit" value="Submit" class="btn btn-success"/>
                </div>
            </div>
        </form>
    </div>
</section>

<!-- Footer -->
<footer class="text-center">
    <div class="footer-above-small">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <h5>Location</h5>
                    <p class="small">UMCG
                        <!--<br>Adres Groningen-->
                        Adres Groningen
                    </p>
                </div>

                <div class="col-lg-4">
                    <h5>Deconvolution</h5>
                    <p class="small">Tekst.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Your Website 2016
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>