<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org/">
<head>
    <!--TODO Test error.error th:text of th:title?-->
    <title th:text="#{error.error}">Oops! it looks like something went wrong! Try again</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="css/freelancer.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="vendor/font-awesome/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"/>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/freelancer.min.js"></script>
</head>
<body id="page-top" class="index">
<!-- Navigation -->
<div th:replace="include :: navigation (page = 'greeting')"></div>

<!-- Header -->
<div th:replace="include :: headerGreeting"></div>

<!-- Footer -->
<div th:replace="include :: footer"></div>
</body>
</html>
