<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.thymeleaf.org/">
<head>
    <title th:text="#{form.form}">Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="css/freelancer.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="vendor/font-awesome/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"/>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/spin.js" type="text/javascript"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/freelancer.min.js"></script>
    <script src="js/advancedOptions.js"></script>
</head>

<body id="page-top" class="index">
    <div id="spinnerContainer" class="spinner" style="display: none"> </div>
    <div id="confirmContainer" class="confirmation" style="display: none"> </div>
    <!-- Navigation -->
    <div th:replace="include :: navigation (page = 'form')"></div>

    <!-- Header -->
    <div th:replace="include :: headerFormResult"></div>

    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 th:text="#{form.form}">Form</h2>
                    <p class="star-primary"></p>
                </div>
            </div>

            <div id="first">
                <form id="confirmForm" action="javascript:test()">
                    <div class="form-group">
                        <div class="col-lg-12 text-center">
                            <div class="row">
                                <h5 th:text="#{session.noResultsAvailable}" th:unless="${session.noResultsAvailable == 0}" style="color:red;"> There are no results available</h5>
                                <label th:text="#{form.whatToDo}"> What do you wanna do? </label>
                            </div>
                            <div class="row">
                                <input value="form" type="radio" name="goto" id="form" />
                                <label for="form" th:text="#{form.goToForm}"> Go to Form</label>

                                <input value="result" type="radio" name="goto" id="result" />
                                <label for="result" th:text="#{form.goToResults}"> Go to Results</label>
                            </div>
                            <div class="row">
                                <input type="submit" th:value="#{form.go}" class="btn btn-success"/>
                            </div>
                        </div>
                    </div>
                </form>

            </div>

            <div id="second" style="display: none">
                <form id="submitForm" action="#" name="form" th:action="@{/form}" th:object="${form}" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-lg-4 col-lg-offset-2">
                            <div class="form-group">
                                <label th:text="#{result.cellcountfile}">Cellcount file:</label>
                                <input type="file" accept="text/plain" name="cellCountFile" id="cellfile" class="form-control" data-toggle="tooltip" th:title="#{form.cellcount}"/>
                            </div>

                            <div class="form-group">
                                <label th:text="#{result.expressionlevelfile}">Expression file: </label>
                                <input type="file" accept="text/plain" id="expressionfile" name="expressionLevelFile" class="form-control"  data-toggle="tooltip" th:title="#{form.expression}"/>
                            </div>

                            <div class="form-group">
                                <label th:text="#{result.genotypedosage}">Genotype dosages file: </label>
                                <input type="file" accept="text/plain" id="genotypefile"  name="genotypeDosageFile" class="form-control"  data-toggle="tooltip" th:title="#{form.genotype}"/>
                            </div>

                            <div class="form-group">
                                <label th:text="#{result.snps}">SNP file:</label>
                                <input type="file" accept="text/plain" id="snpfile"  name="snpToTestFile" class="form-control"  data-toggle="tooltip" th:title="#{form.snp}"/>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <p><label th:text="#{result.param}">Parameters</label></p>
                                <table style="width:100%">
                                    <tr>
                                        <td>
                                            <input value="ad" type="checkbox" name="Parameter -ad" id="ad" />
                                            <label for="ad" data-toggle="tooltip" th:title="#{form.paramAd}" >Parameter -ad</label>
                                        </td>
                                        <td>
                                            <input value="m" type="checkbox" name="Parameter -m"  id="m" onclick="getParamInputAmount(this);"  />
                                            <label for="m" data-toggle="tooltip" th:title="#{form.paramM}">Parameter -m</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input value="nn" type="checkbox" name="Parameter -nn" id="nn" />
                                            <label for="nn" data-toggle="tooltip" th:title="#{form.paramNn}">Parameter -nn</label>
                                        </td>
                                        <td>
                                            <input value="w" type="checkbox" name="Parameter -w" id="w" th:field="*{paramW}" />
                                            <label for="w" data-toggle="tooltip" th:title="#{form.paramW}">Parameter -w</label>
                                        </td>
                                    </tr>
                                </table>
                                <p id="insertinputs" class="insertinputs"></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6"></div>
                        <div class="col-lg-6">
                            <input type="reset" value="Reset" class="btn btn-danger"/>
                            <input type="submit" value="Submit" id="testsubmit" class="btn btn-success"/>
                            <label th:text="#{form.warning}" style="color:red;">Attention: This could take a while</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <div th:replace="include :: footer"></div>
</body>
</html>