<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org/">
<head>
    <title>Deconvolution</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" media="all" href="vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="css/freelancer.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="vendor/font-awesome/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"/>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/freelancer.min.js"></script>
</head>
<body id="page-top" class="index">
    <!-- Navigation -->
    <div th:replace="include :: navigation (page = 'greeting')"></div>

    <!-- Header -->
    <div th:replace="include :: headerGreeting"></div>

    <!-- About section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 th:text="#{greeting.about}">About</h2>
                    <p class="star-primary"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <span class="skills" th:text="#{greeting.about1}">Deconvolution is a program that is created by Niek de Klein and Raul Agguire-Gamboa from the Genetics department of the UMCG. It is a program that can predict the blood composition and cell proportions using genotype and whole blood RNAseq data.</span>
                </div>
                <div class="col-lg-4">
                    <span class="skills" th:text="#{greeting.about2}">Press Quick Start to start a new run!</span>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <div th:replace="include :: footer"></div>
</body>
</html>
