<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Deconvolution</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div th:fragment="navigation">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a href="/greeting" class="navbar-brand">Deconvolution</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll">
                        <div th:if="${page}==greeting">
                            <p style="font-size: inherit"><a href="/form" style="font-size: small" th:text="#{include.quickstart}">Quick start</a></p>
                            <p style="font-size: inherit"><a href="/result" style="font-size: small" th:text="#{include.results}">Results</a></p>
                        </div>
                        <div th:if="${page}==form">
                            <p style="font-size: inherit"><a href="/greeting" style="font-size: small" th:text="#{include.back}">Go Back</a></p>
                            <p style="font-size: inherit"><a href="/result" style="font-size: small" th:text="#{include.results}">Results</a></p>
                        </div>
                        <div th:if="${page}==result">
                            <p style="font-size: inherit"><a href="/reinitialize" style="font-size: small" th:text="#{include.submitother}">Submit another form</a></p>
                        </div>

                        <p style="font-size: inherit"><a href="/exit" style="font-size: small" th:text="#{include.exit}">Exit</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="headerFormResult">
    <header>
        <div class="container-small" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text-small">
                        <h1 class="name">Deconvolution</h1>
                        <p class="underline"></p>
                        <div class="umcg-image"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>

<div th:fragment="headerGreeting">
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <h1 class="name">Deconvolution</h1>
                        <p class="underline"></p>
                        <div class="umcg-image"></div>
                        <span class="skills" th:text="#{greeting.maincontent}">Dit is een web applicatie dat het mogelijk maakt om het command-line programma deconvolution uit te voeren zonder de command-line the gebruiken en de resultaten te visualiseren.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>


<div th:fragment="footer">
    <footer class="text-center">
        <div class="footer-above-small">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-2">
                        <h5>Hanzehogeschool</h5>
                        <p class="small"> Maaike Brummer (m.l.brummer@st.hanze.nl) </p>
                        <p class="small"> Iris Gorter (i.m.gorter@st.hanze.nl) </p>
                        <p class="small"> Zernikeplein 11, 9747 AS Groningen </p>
                    </div>

                    <div class="col-lg-4">
                        <h5>UMCG</h5>
                        <p class="small">Niek de Klein </p>
                        <p class="small">Raul Agguire-Gamboa </p>
                        <p class="small"> Hanzeplein 1, 9713 GZ Groningen </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hanze-image"></div>
                    </div>
                    <div class="col-lg-6">Copyright &copy; 2017 Iris en Maaike</div>
                </div>
            </div>
        </div>
    </footer>
</div>

</body>
</html>