<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:layout="http://www.thymeleaf.org/">
<head>
    <title th:text="#{result.result}">Result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="css/freelancer.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="vendor/font-awesome/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css"/>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/spin.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="js/freelancer.min.js"></script>
    <script src="js/advancedOptions.js"></script>
    <script src="js/tablink.js"></script>
    <script src="js/drawCircle.js"></script>
</head>

<body id="page-top" class="index">
    <div id="spinnerContainerResult" class="spinner" style="display: none"> </div>

    <!-- Navigation -->
    <div th:replace="include :: navigation (page = 'result')"></div>

    <!-- Header -->
    <div th:replace="include :: headerFormResult"></div>

    <h1 th:text="${session.error}" th:unless="${session == 1}">There went something wrong while executing deconvolution, please try again.</h1>

    <br/>
    <div class="tab">
        <button class="tablinks" onclick="openTab('Table')" th:text="#{result.table}">Table</button>
        <button class="tablinks" onclick="openTab('Bloodcells')" th:text="#{result.bloodcells}">Bloodcells</button>
        <button class="tablinks" onclick="openTab('SNP')" th:text="#{result.snp}">SNP</button>
    </div>

    <section id="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 th:text="#{result.result}">Result</h2>
                    <p class="star-primary"></p>
                </div>
            </div>
            <div class="row">
                <div id="Table" class="tabcontent" style="display:block">
                    <form action="/selectGenotypesOnPvalue.do">
                        <button type="submit" th:class="${action == 'select'}? 'focus' : 'noFocus' " name="action" value="select" data-toggle="tooltip" th:title="#{result.selectPvalue}" th:text="#{result.selectPText}"> Select pValues</button>
                        <button type="submit" th:class="${action == 'selectAll'}? 'focus' : 'noFocus' " name="action" value="selectAll" data-toggle="tooltip" th:title="#{result.selectAll}" th:text="#{result.selectAText}" >Select all</button>
                    </form>
                    <p></p>
                    <table id="ResultsTable" class="display" cellspacing="0" width="100%">
                        <thead>
                        <tr id="resultsColumn"></tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div id="Bloodcells" class="tabcontent">
                    <div id="barDiv" style="width: 500px; height: 500px;">
                    </div>


                    <div style="width: 1200px; height: 1200px;">
                        <!--The height is dependent of the number of rows in the canvas-->
                        <canvas id="circle" width="1150" th:height="${session.height}"></canvas>
                    </div>

                </div>

                <div id="SNP" class="tabcontent">
                    <form action="/selectNumberOfCells.do">
                        <h5 th:text="#{result.selectInf}">Select specific rows</h5>
                        <label th:text="#{result.fromText}">From: </label> <input type="number" name="start" min="1" th:max="${session.cells}" data-toggle="tooltip" th:title="#{result.from}"/>
                        <label th:text="#{result.toText}">To: </label> <input type="number" name="stop" min="1" th:max="${session.cells}" data-toggle="tooltip" th:title="#{result.to}" />
                        <input type="submit"/>
                    </form>
                    <p></p>

                    <table id="ResultsTableSNP" class="display cell-border" cellspacing="0" width="100%">
                        <thead>
                        <tr id="resultsColumnSNP"></tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>

                <div></div>
            </div>
        </div>
    </section>

    <!--footer-->
    <div th:replace="include :: footer"></div>

<script th:inline="javascript">
    /*<![CDATA[*/

    var columns = /*[[${session.columns}]]*/ 'Cell type';
    var percentages = /*[[${session.percentages}]]*/ 'Percentage';
    var height = /*[[${session.height}]]*/ 'height';

    var splitcolumns = columns.split("GenomeName");
    var newcolumns = splitcolumns[1];
    var col = newcolumns.split(",");
    var columnarray = [];

    for (i = 0; i<col.length; i++){
        columnarray.push(JSON.stringify(col[i].replace("[", "").replace("]", "")));
    }

    var data = [{
        x: columnarray,
        y: percentages,
        type: 'bar'
    }];

    Plotly.newPlot('barDiv', data);

    drawCircle(percentages, columnarray);

//    When you fill in a range in the results SNP, it redirects to the same tablink
    var tabblad = /*[[${session.tab}]]*/ 'tabblad';
    console.log("tabblad: " + tabblad);

    if (tabblad !== null ) {
        openTab(tabblad);
    }


    var spinner = /*[[${session.addSpinner}]]*/ 'spinner';
    if (spinner === 1) {
        //Spinner
        resultSpinner();
    } else {
        //No spinner
    }


    //All methods and variables for the first table
    var columns = /*[[${session.columns}]]*/ 'Cell type';

    var columnList = columns.split(" ");
    var objectList = [];

    objectList.push({"data": "genotypeName"});
    createTableColumns(columnList);
    createObjects(columnList, objectList);

    function createTableColumns(columnList) {
        for (var i = 0; i < columnList.length; i++) {
            if (columnList[i] === "Spearman_correlation]") {
                columnList[i] = "Whole_blood_QTL";
            }
            $("#resultsColumn").append("<th>"+ columnList[i].replace("[", "").replace("]", "").replace(",", "") + "</th>")
        }
    }

    function createObjects(cols, o) {
        for (var i = 0; i < cols.length -1; i++) {
            o.push({"data":"pValues." + i});
        }
    }
    //    ajax request for first table with datatable
    $(document).ready( function () {
        $('#ResultsTable').DataTable( {
            "processing": true,
            "serverSide": true,
            "ajax" : {
                "url": "/showData.do",
                "dataSrc": function ( json) {
                    console.log("Results table is ready");
                    getSNPtable();
                    return json.data;
                }
            },
            "columns": objectList
        } );

    } );


    //All methods and variables for the second (SNP) table
    var columnsSNP = /*[[${session.columnsSNP}]]*/ 'Cell type';

    var columnListSNP = columnsSNP.split(" ").slice(0);
    var objectListSNP = [];

    objectListSNP.push({"data": "snpName"});
    createTableColumnsSNP(columnListSNP);
    createObjectsSNP(columnListSNP, objectListSNP);

    function createTableColumnsSNP(columnListSNP) {
        for (var i = 0; i < columnListSNP.length; i++){
            $("#resultsColumnSNP").append("<th>"+ columnListSNP[i].replace("[", "").replace("]", "").replace(",", "") + "</th>")
        }
    }

    function createObjectsSNP(cols, o) {
        for (var i = 0; i < cols.length -1; i++) {
            o.push({"data":"celltypes." + i});
        }
    }

    function getSNPtable() {
        //Ajax request for the second table
        var table = $('#ResultsTableSNP').DataTable({
            "processing": true,
            "serverSide": true,
            "retrieve": true,
            "paging": true,
            "ajax": {
                "url": "/showDataSNP.do",
                "dataSrc": "dataS"
            },
            "columns": objectListSNP,
            "columnDefs": [
                {"className": "dt-center", "targets": "_all"}
            ]
        });

    }
    /*]]>*/

</script>
</body>
</html>
